<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="sqlsvr"
         connectionString="Data Source=localhost\TEST;Integrated Security=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--スクリプト出力先-->
    <add key="OutputScriptPath" value="D:\SqlServerScriptCreator"/>
    <!--対象データベース-->
    <add key="TargetDataBase" value="Demo"/>
    <!--DropおよびCREATEのスクリプト作成-->
    <!--0:Createのみ-->
    <!--1:Dropのみ-->
    <!--2:Drop+Create-->
    <add key="ScriptDorpOrCreate" value="0"/>
  </appSettings >
</configuration>